.whatsapp-icon {
  position: fixed;
  bottom: 30px; /* Adjusted bottom position */
  right: 30px; /* Adjusted right position */
  z-index: 1000; /* Ensure it's above other content */
}

.whatsapp-icon-img {
  font-size: 60px; /* Increased size of the icon */
  color: white; /* Hover color */
  background-color: #25d366; /* Hover background color */
  border-radius: 50%; /* Makes the background circular */
  padding: 15px; /* Increased padding to make icon more clickable */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for more prominence */
  font-weight: bold; /* Making the icon bolder */
}
